################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/O365-EDU-Tools/v15/.suo
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/.vs/config/applicationhost.config
